<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>


    <link rel="stylesheet"
          href="{{ request.static_url('book:static/css/app.css') }}"/>
    <script type="text/javascript"
          src="{{ request.static_url('book:static/js/app.js') }}"></script>

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
</head>
<body>
    <ul class="nav nav-tabs">
      <li><a href="{{ request.route_url('index') }}">Home</a></li>
    </ul>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>
